@font-face {
    font-family: 'JeonjuCraftGoR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/JeonjuCraftGoR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    margin-top: 0;
    margin-bottom: 0.5cm;
    font-family: 'JeonjuCraftGoR';
    font-weight: 200;
    line-height: 1.2;
}



a {
    text-decoration: none;
    color: black;
}

.titleArea {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
    font-weight: 500;
    font-size: 23px;
}

button {
    cursor: pointer;
}