header div {
    display: flex;
    margin: 9px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    flex-direction: row;
    background-color: #FFFFFF;
}


.headOver {
    margin: 0;
    display: block;
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 30px;
}

.CS {
    display: block;
    line-height: 30px;
    width: 240px;
    text-align: center;
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    margin: 0;
    margin-left: 80px;
    font-size: 10px;
    color: gray;
}

.orderPage {
    margin: 0;
    margin-left: auto;
    color: gray;

}

.orderPage a {
    margin: auto;
    color: gray;
}

.myPage {
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    margin-right: 60px;
    text-align: center;
    width: 44px;

}

.searchIcon {
    margin: 6px;
    align-items: center;
    width: 22px;
    height: 18px;
}

.orderPage div {
    font-size: 11px;
    width: 50px;
    color: gray;
}


.headMain {
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    margin: 0;
    display: block;
    width: 105%;
    height: 70px;
    display: flex;
    flex-direction: row;
}

.logo {
    margin-left: 90px;
    width: 140px;

}

.logoImg {
    width: 70px;
    height: 70px;
}

.menu {
    margin: auto;
}

.menu a {
    margin: auto;
    font-size: 18px;
    margin-right: 40px;

}

footer {
    margin-top: 200px;
    width: 100%;
}

.info {
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    margin: auto;
    height: 200px;
    width: 75%;
}


.info>div {
    text-align: center;
    width: 33.3%;
    height: 90%;
    border-width: 4px;
    float: left;

}

.madeBy {
    text-align: center;
    line-height: 120px;
    height: 120px;
    margin: auto;
    font-size: 12px;
    color: gray;
}

.infoTitle {
    margin: 20px;
    margin-top: 50px;
    font-weight: bold;
    font-size: 20px;
}

.firstTag {
    margin-top: 160px;
}

.mainpagefirstTag {
    margin-top: 80px;
}