.detail_box {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  font-weight: 530;
}

.price_box {
  margin-left: 30px;
}

hr {
  border: 1px solid #e2e2e2;
}

.product_title {
  font-size: 18px;
}

.basket_button {
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: 60px;
  border: 1px solid #e2e2e2;
  height: 45px;
  font-size: 14px;
}

.price {
  font-weight: bold;
  font-size: 24px;
}
