.parent {
  margin: 60px auto;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  border: 1px solid #e2e2e2;
  float: left;
  width: 250px;
  height: 380px;
  box-sizing: border-box;
  background-color: white;
  margin-top: 20px;
}

.text {
  text-align: center;
}

.text p {
  font-size: 13px;
  color: gray;
}

body {
  background-color: #f6f6f6;
}

.pagination {
  display: flex;
  list-style: none;
  padding: 0;
  justify-content: center;
  margin-bottom: 40px;
}

.pagination a {
  text-decoration: none;
  padding: 5px 10px;
  border: 1px solid #ddd;
  color: #333;
  transition: background-color 0.3s;
}

.pagination a:hover {
  background-color: #ddd;
}

.pagination .active {
  background-color: rgb(57, 117, 237);
  color: white;
  pointer-events: none;
}