div {
    text-align: center;
}


.text1 {
    padding: 50px;
}

.back {
    position: relative;
    top: 30px;
    z-index: -1;

}

.golinkimg {
    height: 300;
    width: 1000;
    opacity: 0.3;
}

.fronttable {
    position: relative;
    z-index: 0;
    top: -200px;
    background-color: white;

}


table {
    width: 70%;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;

}

td {
    width: 50%;
}

.tableimg {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.golinkbtn {
    width: 160px;
    height: 60px;
    font-size: 12px;
    border: 1px solid #e2e2e2;
    border-radius: 0;
    background-color: white;
    float: left;
    margin-left: 60px;
    margin-top: 32px;
}

.golinkbtn:hover {
    background-color: #e2e2e2;
}

button {
    cursor: pointer;
}